.clear-btn {
  background: transparent;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  align-items: center;
  font-weight: 500;
  display: inline-flex;
}

.clear-btn:hover,
.clear-btn:focus {
  background: transparent;
}
